body{
    background-color: hsl(212, 45%, 89%);
    font-family: Outfit;
}
    .attribution { font-size: 11px;
        text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }

.contenedorPrincipal{
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 300px;
    padding: 15px;
    font-size: 15px;
}
.contenedorPrincipal p{
    text-align: center;
}

.imagen1{
    width: 300px;
    border-radius: 20px;

}