
    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }

.contenedorPrincipal{
    display: flex;
    flex-direction: column;
}

.imagen1{
    width: 300px;
    
}