body{
    font-family: outfit;
    font-size: 15px;
    background-color: hsl(220, 15%, 55%);
}
.contenedorPrincipal {
    display: grid;
    justify-items: center;
    align-items: center;
}
.contenedor {
    
    background-color: white;
    justify-items: center;
    border-radius: 19px;
}
.codigo {
    width: 200px;
    border-radius: 15px;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
